.InventoryGrid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
}

//.inventory-slot {
//    width: 100px;
//    height: 100px;
//    background-color: #3E3E3E;
//    border: 1px solid #FFFFFF;
//    justify-content: center;
//    align-items: center;
//    display: flex;
//}
